<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias iste laborum omnis deserunt animi voluptatibus, obcaecati, hic quasi commodi explicabo!
    </p>

    <h3><%= ["hello","hi","bonjour"][1] %></h3>
    <button>Click Me!</button>
    
</body>
</html>